@{
    ViewData["Title"] = "Home Page";
}

<center> <h1 class="pb-3"> RESTAURANTES </h1>
<h3 class="pb-3"> ¡ENCONTRÁ TODA LA INFO QUE QUERÉS SABER! </h3>
<button class="btn btn-primary " id="boton" value="cargar" onclick="CargarDatos()" >RESTAURANTES </button>
</center>
<div id="datos">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Logo</th>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apertura</th>
      <th scope="col">Ubicacion</th>
      <th scope="col">Dueños</th>
      <th scope="col">Primer Plato</th>
      <th scope="col">Plato Principal</th>
      <th scope="col">Postre</th>
      <th scope="col">Precio</th>
      <th scope="col">Reseñas</th>
    </tr>
  </thead>
  
</table>

</div>

<div id="datos1">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre de Usuario</th>
      <th scope="col">Valoracion 1 a 5</th>
      <th scope="col">Descripción</th>
      <th scope="col">Cantidad de likes</th>
    </tr>
  </thead>
</table>

</div>